<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!--自动注入ApplicationContext对象 -->
	<!-- <bean class="com.baqsng.flow.handler.FlowAppContext"/>  --> 
	<!-- 通知 -->
 	<bean id="interceptHander" class="com.xxm.it.system.handle.InterceptHander"></bean> 

	<!-- aop配置 -->
	<aop:config proxy-target-class="true">
		<!--切面 -->
		<aop:aspect ref="interceptHander">
			<!-- 切点 执行com.xxm.it.xxm.service包下面所有方法都执行，且排除find开头的所有方法 -->
			<aop:pointcut expression="execution(* com.xxm.it.*.service.*.*(..))" id="pointcut1" />
			<!--连接通知方法与切点 -->
			<aop:before method="before" pointcut-ref="pointcut1" />
			<aop:after-returning method="after" arg-names="joinPoint,retValue" returning="retValue" pointcut-ref="pointcut1" />
		</aop:aspect>
	</aop:config>
</beans>
