<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>xxm</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext-core.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<!-- 初始化共享配置 -->
	<listener>
   		<listener-class>com.xxm.it.system.util.XxmInit</listener-class>
   	</listener>
	
	<!--配置过滤器-->
	<filter>
	      <filter-name>LdhFilter</filter-name>
	      <filter-class>com.xxm.it.system.util.XxmFilter</filter-class>
	</filter>
	<!--映射过滤器-->
	<filter-mapping>
		<filter-name>LdhFilter</filter-name>
	    <!--“/*”表示拦截所有的请求 -->
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 超时设置 -->
	<session-config>
		<session-timeout>45</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/main/login.html</welcome-file>
	</welcome-file-list>
</web-app>